<configuration>
<CodeUpdate>
<URL>https://nbo.minornet.com/NBOUpgrade/BOANETClient/CodeUpdate/</URL>
</CodeUpdate>
<Remoting>
<Client>
<MessageServer>
<URL>https://nbo.minornet.com/NBODataService</URL><ConnectionID>MinorGroup</ConnectionID>
</MessageServer>
</Client>
</Remoting>
</configuration>